.welcome {
    text-align: center;
}

.welcome-h1 {
    color: firebrick;
}

.welcome-p {
    color: aqua;
}

h2 {
    color: red;
}

#button {
    background-color: azure;
}

#button:hover {
    background-color: aquamarine;
    font-size: 50px;
}


.button:hover {
    font-size: 50px;
}